.main {
    height: 95vh;
    width: 95vw;
    background-color:pink;
    margin: 0 auto;
}

#map {
    height: 100%;       // must supply a height, DO NOT SUPPLY WIDTH 
    background-color:lightgreen;
}

.tooltip {
    color: red;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

