.legend {
    width: 20vw;
    max-width: 20rem;
    min-width: 15rem;
    background-color: #a98c8c;
    opacity: .7;
    padding-bottom: 1.5rem;
    box-shadow: 0 1.5rem 4rem  rgba(0, 0, 0, .15);
    border-radius: 5px;
}

